.contenedor-pantalla {
    width:360px;
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 1px solid #1b1b32;
    background-color: #0a0a23;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 11px;
    padding-right: 30px;
    box-shadow: -1px 4px 1px 1px white;
    margin: 1px solid #888;
}